repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        additional_dependencies:
          - types-PyYAML>=6.0.12.20240917
  - repo: local
    hooks:
      - id: occamo
        name: occamo (changed-only)
        entry: occamo analyze . --changed-only --diff-functions --new-findings-only --max-findings 25
        language: python
        additional_dependencies:
          - "."
        pass_filenames: false
